# node_modules folder 
node_modules

# Env variables
.env
.env.*
!.env.example
!.env.test
.babelrc

# JavaScript files
calculation.js
calOG.js
routes/triSearch.js
routes/userRoutesMobile.js

# Exe files
csvFiles/cal.exe
routes/triS.exe

# Text files
N1.txt
N2.txt
N3.txt
N1Date.txt
N2Date.txt
N3Date.txt